<form method="post" action="/records/:id">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Artist<input id="record_artist" type="text" value="<%=@record.artist%>" name="artist">
  Title<input id="record_title" type="text" value="<%=@record.title%>" name="title">
  Label<input id="record_label" type="text" value="<%=@record.label%>" name="record_label">
  <input type="submit" value="submit">
</form>